<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="exam" class="ru.otus.spring.model.Exam">
        <constructor-arg name="csvFile" value="questions.csv"/>
    </bean>
    <bean id="utils" class="ru.otus.spring.service.ExamService">
        <constructor-arg name="exam" ref="exam" />
    </bean>
</beans>
